name: Build and Release

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Publish
        run: dotnet publish -c Release -r win-x64 --self-contained false -o ./publish

      - name: Zip the build
        run: |
          Compress-Archive -Path ./publish/* -DestinationPath SkyrimSEModsSeniAutoTranslator.zip

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: SkyrimSEModsSeniAutoTranslator.zip
          generate_release_notes: true
